.container {
    max-width: 500px;
}

.card-header, .card-title {
    text-align: center;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    min-width: 400px;
  }